jmsendpointtest/src/main/app/jmsendpointtest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms" 
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="jmsendpointtestFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/addproduct" doc:name="HTTP" allowedMethods="POST"/>
        <mulexml:dom-to-xml-transformer doc:name="DOM to XML"/>
        <set-property propertyName="JMSReplyTo" value="myreplyq" doc:name="Property"/>
        <jms:outbound-endpoint queue="productsq" connector-ref="Active_MQ" doc:name="JMS" exchange-pattern="request-response"/>
    </flow>
    <flow name="jmsendpointtestFlow1">
        <jms:inbound-endpoint exchange-pattern="request-response" queue="productsq" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="************PAYLOAD: #[payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="&quot;Product Added Successfully!&quot;" doc:name="Set Payload"/>
    </flow>
</mule>
